{{> header }}
<div class="container">
<h1>{{title}}</h1>
{{#if errors}}
	{{#each errors}}
		<div class="alert alert-danger">
			{{this.msg}}
		</div>
	{{/each}}
{{/if}}

<p>Welcome to Device Setup</p>
<form method="POST" action="/devicesetup">
  <div class="form-group">
    <label for="devicename">Device Name</label>
    <input type="devicename" class="form-control" name="devicename" placeholder="DeviceName">
  </div>
  <div class="form-group">
    <label for="deviceid">Device Id</label>
    <input type="deviceid" class="form-control" name="deviceid" placeholder="DeviceId">
  </div>
  <div class="form-group">
    <label for="location">Device Location</label>
    <input type="location" class="form-control" name="location" placeholder="Location">
  </div>
  <div class="form-group">
    <label for="osversion">Device OS Version</label>
    <input type="osversion" class="form-control" name="osversion" placeholder="OsVersion">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>

{{> footer-end }}
